@import com.miloszjakubanis.crypticcommand.model.UserDAO

@(users: Seq[UserDAO], form: Form[UserDAO], url: Call)(implicit request: MessagesRequestHeader)




@components.header()


@components.topbarNavigation()


    <p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>


<div>
    @helper.form(action = com.miloszjakubanis.crypticcommand.controller.routes.PocketRegisterController.registerPost) {
        @helper.CSRF.formField
        @helper.inputText(form("username"))
        @helper.inputText(form("password"))
        <button>Submit</button>
    }
    </div>


@components.footer()
