@import com.miloszjakubanis.crypticcommand.model.UserDAO

@(users: Seq[UserDAO], form: Form[UserDAO], url: Call)(implicit request: MessagesRequestHeader)




@components.header()


@components.topbarNavigation()


<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>


<div>
    Register
    @helper.form(action = com.miloszjakubanis.crypticcommand.controller.routes.PocketController.pocketRegisterPost) {
        @helper.CSRF.formField
        @helper.inputText(form("username"))
        @helper.inputPassword(form("password"))
        <button>Register</button>
    }
</div>


<div>
    Login
    @helper.form(action = com.miloszjakubanis.crypticcommand.controller.routes.PocketController.pocketLoginPost) {
        @helper.CSRF.formField
        @helper.inputText(form("username"))
        @helper.inputPassword(form("password"))
        <button>Login</button>
    }
</div>


@components.footer()
